.stock {
  size: 50%;
}
.primario {
  background-color: #81b0ae;
}
.secundario {
  background-color: #002927;
}
.botonera {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.card-title {
  text-align: center;
}
.card {
  width: 350px;
}
.volver {
  text-decoration: inherit;
  color: rgb(9, 33, 39);
}
